.container {
    max-width: 350px;
    max-height: 260px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_header {
    padding: 12px;
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.label_candidate {
    /* background-color: rgb(165, 252, 255); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count_vote {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card_content {
    overflow: auto;
    padding: 12px;
    padding-left: 18px;
    height: 140px;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    padding-left: 18px;
    /* height: 120px; */
}

.is_voted {
    color: rgb(62, 172, 117);
}

.icon {
    cursor: pointer;
}

.vote_button {
    background-color: rgb(255, 255, 190);
    padding: 6px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vote_button_disable {
    background-color: rgb(201, 201, 201);
    padding: 6px;
    cursor: not-allowed;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}