.container {
    display: flex;
    padding: 12px;
    background-color: aliceblue;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.menu_title {
    color: rgb(0, 0, 0);
}

.menu {
    cursor: pointer;
    padding: 10px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 12px;
}

.menu:hover {
    background: rgb(248,252,252);
    background: linear-gradient(90deg, rgba(248,252,252,1) 33%, rgba(208,255,255,1) 100%);
}

.group_left {
    display: flex;
}

.group_right {
    display: flex;
    align-items: center;
}